<!doctype html>
<html lang="en">
<head>
    <title>TicTacToe game!</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
    {% include 'board/board.html.twig' %}
    
    {% include 'winner/winner.html.twig' %}
</body>
</html>
